Django==4.2.2
django-environ==0.10.0
django-oauth-toolkit==2.3.0
djangorestframework==3.14.0
drf-yasg==1.21.6
gunicorn==20.1.0
ipykernel==6.23.3
ipython==8.14.0
jupyter_client==8.3.0
jupyter_core==5.3.1
numpy==1.25.0
openpyxl==3.1.2
pandas==2.0.2
Pillow==9.5.0
python-dateutil==2.8.2
python-dotenv==1.0.0
requests==2.31.0
swagger-spec-validator==3.0.3
urllib3==2.0.3